.about-logo {
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;

    background-image: url('cloud-logo.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50%;
    background-color: rgba(223, 188, 188, 0.1);
}
