.home {
  padding: 24px;
  font-family: 'Tahoma',sans-serif;
}

/* .home-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
} */

.upload-form {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 24px;
}

.file-input,
.comment-input {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.upload-btn {
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.2s;
}

.upload-btn:hover {
  background-color: #115293;
}

.files-table {
  width: 100%;
  border-collapse: collapse;
}

.files-table th,
.files-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.files-table th {
  background-color: #f5f5f5;
  text-align: left;
}

.files-table tr:hover {
  background-color: #fafafa;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
