.backgroundLogin {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #c2551f;
    background: linear-gradient(130deg, rgb(224, 181, 160) 0%, rgb(139, 124, 175) 100%);
}

.loginBox {
    background-color: white;
    padding: 20px;
    min-width: 300px;
    height: 50%;
    width: 20%;
    border: 1px solid rgb(16, 2, 41);
}

.itemBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
.title {
    font-size: 40px;
    color: #3c56b7;
}

.myForm {
    width: 99%;
}